
@media (min-width:768px) and (max-width:999px) {
  

        /*Servicios*/

    .servicios-head .h2 {
        font-size: 30px;
        width: 80%;
        margin: 20px;
        padding-left: 30px;
    }

    .servicios-head p {
        font-size: 20px;
        margin-left: 250px;
    }

    .servicios-content {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
        padding-bottom: 0px;
    }

    .contenedor-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .servicios-cta{
        border-radius: 10px;
        text-align: left;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /*PV 1-2*/

    .contenidopv1 {
        width: 40%;
    }

    .imgpv1 {
        margin-top: 80px;
    }

    .contenidopv2 {
        width: 40%;
    }

    .imgpv2 {
        margin-top: 60px;
    }

    /*Portafolio */

     .portafolio-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding-bottom: 0px;
        gap:30px
    }

    .contenedor-cards2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }  

    #portafoliopage .portafolio-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-bottom: 60px;
    }

    #portafoliopage .contenedor-cards2 {
        grid-template-columns: 1fr;
    }

    .servicios-cta {
        justify-content: center;
    }

    .test2 {
        flex-direction: column;
        row-gap: 30px;
    }

    /*CTA*/

    .cta {
        flex-direction: column; 
        height: 100%;
        padding: 60px 0px;
        margin: auto;
        gap: 5px;
        background-color: #212121;
    }
    
    .texto-cta { 
        order:0;
        width: 80%;
        margin: auto;
    }

    .texto-cta h2 {
        text-align: center;
        margin: 0;
        font-size: 35px;
    }
    
    .texto-cta p {
        font-size: 20px;
    }
    
    .btn-cta { 
        width: 90%;
        margin: auto;
    }

    /*FOOTER*/


    .contenedor-footer {

        flex-direction: column; 
        justify-content: center;
     }


    .logofooter img {
        width: 250px;
        text-align: center;
    }

    .company-footer {
        width: 90%;
        margin: auto;
        border-right: none;
    }

    .company-footer .h2 {
        text-align: center;

    }

    .company-footer p {
        text-align: center;
    }

    .copyright p {
        text-align: center;
    }

    .linklist li {
        
        list-style:none;
        margin-left: 0px;
        text-align: center;
    }

    .linksfooter {
        width: 90%;
        margin: auto;
    }

    .linksfooter .h3 {
        color: #ff5722
    }

    /*Contacto*/

    .contenedor-contacto {
        flex-direction: column-reverse;
    }

    .contacto {
        padding-top: 50px;
        width: 70%;
        margin: auto;
        gap: 30px;
    }
   
    #contactopage .serv-card img {
        width: 60px;
    }

    .formulario {
        width: 70%;
        margin: auto;
    }

    #sobre-mi .servicios-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .8fr 3fr;
        padding: 0;
        margin: 0px auto;
        }
    
    #sobre-mi .contenedor-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    
    #sobre-mi .servicios-cta {
            justify-content: center;
            margin: auto;
    }

    #servicios-grid .servicios-content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr .8fr;
            padding: 0;
            margin: 0px auto;
    }
        
    #servicios-grid .contenedor-cards {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
    }
        
    #servicios-grid .servicios-cta {
            justify-content: center;
            margin: auto;
    }
}

@media (min-width:1000px) and (max-width:1200px){
    
    .hero-section h1 {
        font-size: 60px;
    }
    
    .hero-section span {
        font-size: 60px;
    }
    
    .servicios-content {
        max-width: 1200px;
    }

    .servicios-head .h2 {
        font-size: 38px;
        margin-left: 80px;
    }

    .servicios-cta .btn1{
        margin: 0px;
    }

    .servicios-head .h2 {
        font-size: 30px;
        width: 80%;
        margin: 20px;
        padding-left: 30px;
    }

    .servicios-head p {
        font-size: 20px;
        margin-left: 250px;
    }

    .servicios-content {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
        padding-bottom: 0px;
    }

    .contenedor-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .servicios-cta{
        border-radius: 10px;
        text-align: left;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .texto-cta {
        width: 48%;
    }

    #contactopage .serv-card p {
        font-size: 20px;
    }
    
    #contactopage .serv-card img {
        width: 75px;
    }

    #sobre-mi .servicios-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .8fr 3fr;
        padding: 0;
        margin: 20px auto;
        margin-bottom: 50px;
    }
    
    #sobre-mi .contenedor-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    
    #sobre-mi .servicios-cta {
            justify-content: center;
            margin: auto;
    }

    #servicios-grid .servicios-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr .8fr;
        padding: 0;
        margin: 0px auto;
    }
    
    #servicios-grid .contenedor-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    #servicios-grid .servicios-cta {
        justify-content: center;
        margin: auto;
    }
}